body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.categoriesTotal {
  background-color: #5788e4;
}

.categoriesTotal img {
  width: 50px;
}

.categoriesList {
  display: grid;
  grid-template-columns: 50% 50%;
  list-style: none;
}

.categoryItem img {
  width: 50px;
}